*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-fill-color: none;
    user-select: none;
    /* overscroll-behavior: none; */
}

html,body{
    height: 100%;
    width: 100%; 
}

@font-face {
    font-family: Matter;
    src: url(fonts/matter-light.f0e8beae.woff2) format("woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: Matter;
    src: url(fonts/matter-medium.6db48be9.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Matter;
    src: url(fonts/Matter-SemiBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

body{
    font-size: 16px;
    font-family: "Matter", sans-serif;
    background-color: #181818;
}

h1{
    font-weight: 300;
    font-size: 2rem;
}
h2{
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
p{
    font-weight: 100;
    font-size: 0.8rem;
}

#app{
    padding:20px;
    height: 100%;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #181818;
    color: white;
}

#gamescreen{
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 10px);
    width: 100%;
    user-select: none;
    white-space: pre-line;
    transition: all ease 0.3s;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    display: flex;
}

#gameWrapper{
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start; 
    align-items: start; 
    flex-direction: column;
}
hr.divider {
    border: none;               
    height: 1px;
    background-color: rgb(43, 43, 43);
    margin: 0;             
    width: 100%;
}
#dialoguebox{
    /* border: 1px solid white; */
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    width: 100%;
    position: relative;
}
#dialoguebox::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(112, 112, 112);
    position: fixed;
    left: 0;
    bottom: -5px;
}

.dialogue {
    opacity: 0;
    transition: all 0.3s ease;
    /* border: 1px solid white; */
}

.dialogue.show {
    opacity: 1;
}

.dialogueContainer,
.dialogue,
.choicesContainer {
    position: relative; 
    z-index: 2;  /* above bgimage */
}

.dialogueContainer{
    height: auto;
    align-self: flex-start;
    padding-bottom: 15px;
    /* border: 1px solid black; */
}

.choicesContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    /* border: 1px solid white; */
}

.choiceBtn{
    padding: 4px;
    width: 100%;
    height: 40px;
    opacity: 0;
    background-color: transparent !important;
    border: 1px solid white;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 100;
    /* border-radius: 5px; */
    transition: all 0.3s ease;   
    text-align: start;
    color: #ca4646ff;
}

.choiceBtn.show{
    opacity: 1;
}

.choiceBtn:disabled {
    opacity: 0.5;
    /* cursor: not-allowed; */
    filter: grayscale(50%);
}

.infoText{
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: auto;
    align-self: flex-start;
    padding-bottom: 15px;
}
.infoText.show{
    opacity: 1;
}

/* Click Effect */
.click-effect {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    user-select: none;
  }

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    animation: dotFade 0.6s forwards;
}

.ring {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0.8;
    animation: ringExpand 0.6s forwards;
}

  @keyframes ringExpand {
    to {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }

  @keyframes dotFade {
    to {
      opacity: 0;
    }
  }

  /* choice timer */
 .timerBar {
  position: relative;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 8px;
  overflow: hidden;
  transition: opacity 0.5s ease; /* 👈 smooth fade */

}

.timerFill {
  height: 100%;
  width: 100%;
  background: white;
  transition: width linear;
}


/* Profile */

#hud{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  
}
#profileWrapper{
    /* margin-top: 20px; */
    
    width: 150px;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.characterName{
    margin-bottom: 6px;
}
.profileContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.health_container{
    width: 100%;
    height: 5px;
    display: flex;
    margin-bottom: 10px;
    gap: 4px;
    /* background-color: #242424; */
}

.health_bar{
    background-color: #e96408;
    height: 6px;
    flex: 1;
}

.ehealth_bar{
    background-color: #0d758f;
    height: 6px;
    flex: 1;
}

.health_text{
    letter-spacing: 0.2rem;
}
/* Redundant For Enemy */
#eprofileWrapper{
    width: 150px;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.echaracterName{
    margin-bottom: 6px;
}
.eprofileContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ehealth_container{
    width: 100%;
    height: 5px;
    display: flex;
    margin-bottom: 10px;
    gap: 4px;
    /* background-color: #242424; */
}

.ehealth_bar{
    background-color: #e96408;
    height: 6px;
    flex: 1;
}

.ehealth_text{
    letter-spacing: 0.2rem;
}